-# frozen_string_literal: true
= simple_form_for @track do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :title
  = f.rich_text_area :description
  = f.input :short
  = f.input :language, collection: @languages
  = f.input :level, collection: @levels
  = f.input :price
  = f.button :submit, class: 'btn btn-primary mt-3'