%div.card.mb-5
    %div.card-header
        = fa_icon 'user'
        = "#{user.email}"
    %div.card-body 
        %p Courses #{user.tracks.count}
        %ul.list-group.list-group-flush
            = render partial: 'users/track', collection: user.tracks
    %div.card-footer.text-muted 
        %p 
            = time_ago_in_words(user.created_at)
        %p 
            = user.current_sign_in_ip