<h1>Landing</h1>
<p>Find me in app/views/pages/landing.html.erb</p>
<i class="fas fa-user-secret"></i>
<%= link_to 'Privacy', privacy_path %>
<%= fa_icon 'user-secret' %>

<%= fa_icon 'laptop-code' %>
<%= link_to 'About', about_path %>
<%= fa_icon 'laptop-code' %>